.navbarLogo{
    width: 12vw;
    height: 7vh;
    
    
}
.loginBtn{
    width: 7vw !important;
    height: 4vh !important;
    background-color: rgb(29,29,29) !important;
    border: 1px solid red !important;
    color: rgb(209, 0, 0) !important;
    transition: 0,5s !important;

}
.loginBtn:hover{
    background-color: blue !important;
    color: white !important;

}
.navbarItem{
    font-size: 12px !important;
    font-family: 'Courier New', Courier, monospace !important;
}
.navbarItem:hover{
    color: red !important;
}

